html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    background-color: var(--neutral-color);
}
header{
    background-color: aqua;
    font-family: "styled","bold";
}
header img{
    border-radius: 100%;
}
div{
    background-color: brown;
    font-family: "styled","bold";
}
/*
.searchBar{
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    min-width: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.searchBar input{animação antes
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 50px;
    padding: 1rem;
    font-size: 1rem;
    transition: width .2s ease-in-out;
}
*/